{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ dish_appearance.dish.name }}
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Edit Image
        </button>
    </h1>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="content-section">
                <form method="POST" action="{% url 'edit_dish' %}?dish={{ dish_appearance.dish.uuid }}">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ image_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if dish_appearance.dish.image is not None %}
        <img src="{{ dish_appearance.dish.image }}" alt="{{ dish_appearance.dish.name }}"
             style="width: 40vw; height: auto">
    {% endif %}
    <h2>Served at <a href="{% url 'meal_detail' dish_appearance.meal_id %}">{{ dish_appearance.meal }}</a></h2>
    <h3>
        Specific Serving:
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpurepng.com%2Fpublic%2Fuploads%2Flarge%2Fpurepng.com-gold-starstargeometricallydecagonconcavestardomyellow-stargold-1421526501440ojzfo.png&f=1&nofb=1"
             alt="Star" class="star">{{ dish_appearance.average_stars }}/5 <span
            class="text-muted">{{ dish_appearance.review_count }} reviews</span>
        {% with overall_dish=dish_appearance.overall_rating_count_average %}
            All Times Served:
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpurepng.com%2Fpublic%2Fuploads%2Flarge%2Fpurepng.com-gold-starstargeometricallydecagonconcavestardomyellow-stargold-1421526501440ojzfo.png&f=1&nofb=1"
                 alt="Star" class="star">{{ overall_dish.average }}/5 <span
                class="text-muted">{{ overall_dish.count }} reviews</span>
        {% endwith %}
    </h3>
    <div class="rounded shadow-sm p-4">
        <h4 class="mb-1">All Ratings and Reviews</h4>
        {% if dish_appearance.review_count == 0 %}
            <h5>No reviews yet</h5>
        {% else %}
            {% for review in dish_appearance.reviews %}
                <div class="reviews-members pt-1 pb-1">
                    <div class="media">
                        <div class="media-body">
                            <div class="reviews-members-header">
                                <h4><a
                                        href="{% url 'user_detail' review.user.pk review.user.username %}">{{ review.user.username }}</a>
                                </h4>
                                <h6>{{ review.stars }} Stars</h6>
                                <p class="text-gray">{{ review.review_datetime }}</p>
                            </div>
                            <div class="reviews-members-body">
                                <p>{{ review.review_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
    <div class="rounded shadow-sm p-4 mb-2">
        <h5 class="mb-2">Leave Review for {{ dish_appearance.dish.name }}</h5>
        <form method="POST" action="{% url 'review' %}?dish={{ dish_appearance.uuid }}">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ review_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary btn-sm" type="submit"> Submit Review</button>
            </div>
        </form>
    </div>
{% endblock %}