{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Login</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group" style="background: #696969">
              <button class="btn btn-outline-info" style="color:white" type="submit">Login</button>
              <small class="text- ml-2" style="color:white">
                  Forgot your password? <a href="{% url 'password_reset' %}">Reset here</a>
              </small>
          </div>
      </form>
      <div class="border-top pt-3" style="background: #696969">
          <small style="color:white">
              Don't have an account yet? <a class = "ml-2" href="{% url 'register' %}">Register now!</a>
          </small>
      </div>
  </div>
{% endblock %}