{% extends 'base.html' %}

{% block content %}
    <h1>{{ servery.name }}</h1>
    <div class="card-group content-row container-fluid m-2">
        {% if servery.current_dishes.count == 0 %}
            <h2>No current dishes</h2>
        {% else %}
            {% for dish_appearance in servery.current_dishes %}
                <div class="card">
                    {% if dish_appearance.dish.image is not None %}
                        <img src="{{ dish_appearance.dish.image }}" class="card-img-top"
                             alt="{{ dish_appearance.dish.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ dish_appearance.dish.name }}</h5>
                        {% for dish_appearance in servery.current_dishes %}
                            <p class="card-text">{{ dish_appearance.dish.name }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}